<!DOCTYPE html>
<html>
<head>
<title>Upload</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> Upload Your Files </h1>
        <br>
        <br>
    
        <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" style="align-items: center;">
            
                <h2>File</h2>
                <input id="file-picker" type="file" name="file" accept="image/*" multiple class="btn btn-primary" >
                <div id="msg"></div>
                 
                <input type="submit" value="Upload" id="upload-button" class="btn btn-primary">   
                  
                <img src="">
                <button type="button" class="btn btn-primary">
                   Clear
                  </button>
        </form>
    <h3>"{{ image_name }}"</h3>
    <img src=" {{url_for('send_image', filename=image_name)}}">
    </div>
</div>
</body>
<script>

    $("#file-picker").change(function(){

        var input = document.getElementById('file-picker');

        for (var i=0; i<input.files.length; i++)
        {
        
            var ext= input.files[i].name.substring(input.files[i].name.lastIndexOf('.')+1).toLowerCase()

            if ((ext == 'jpg') || (ext == 'png') || (ext == "jpeg") ||(ext == "gif"))
            {
                $("#msg").text("Files are supported")
            }
            else
            {
                $("#msg").text("Files are NOT supported")
                document.getElementById("file-picker").value ="";
            }

        }


    } );

</script>

<style type="text/css">
  .container{
    text-align:center;
    align-content: center;
    font-align:center;
    padding:10px;}
</style>
</html>